In [ ]:
'''
@Author:Sailesh Chauhan
@Date:2021-06-18
@Last Modified by:Sailesh Chauhan
@Last Modified time:2021-06-18
@Title:Write a Python program to iterate over rows in a DataFrame.
'''

In [ ]:
'''
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
'''

In [2]:
import numpy as np
import pandas as pd

In [3]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [6]:
exam_data_df=pd.DataFrame(exam_data,labels)

In [7]:
for ind in exam_data_df.index:
    print(exam_data_df['name'][ind],exam_data_df['stream'][ind])

NameError: name 'df' is not defined